---
common_packages:
  - python3-pip
  - curl
  - git
  - vim
  - htop
  - wget
  - unzip
  - ca-certificates
  - gnupg
  - lsb-release
  - apt-transport-https
  - software-properties-common

common_timezone: "UTC"
