---
- name: Log in to Docker Hub
  community.docker.docker_login:
    username: "{{ dockerhub_username }}"
    password: "{{ dockerhub_password }}"
  no_log: true

- name: Pull Docker image
  community.docker.docker_image:
    name: "{{ docker_image }}"
    tag: "{{ docker_image_tag }}"
    source: pull

- name: Stop existing container
  community.docker.docker_container:
    name: "{{ app_container_name }}"
    state: absent
  ignore_errors: yes

- name: Run application container
  community.docker.docker_container:
    name: "{{ app_container_name }}"
    image: "{{ docker_image }}:{{ docker_image_tag }}"
    state: started
    restart_policy: "{{ app_restart_policy }}"
    ports:
      - "{{ app_port }}:{{ app_port }}"
    env: "{{ app_env }}"
  notify: restart app container

- name: Wait for application to be ready
  ansible.builtin.wait_for:
    port: "{{ app_port }}"
    host: "127.0.0.1"
    delay: 5
    timeout: 30

- name: Verify health endpoint
  ansible.builtin.uri:
    url: "http://127.0.0.1:{{ app_port }}/health"
    method: GET
    return_content: yes
    status_code: 200
  register: health_check
  retries: 3
  delay: 5

- name: Display health check result
  ansible.builtin.debug:
    var: health_check.json
