name: python-ci

on:
  push:
    branches: [ "main" ]
    paths:
      - "app_python/**"
      - ".github/workflows/python-ci.yml"
  pull_request:
    branches: [ "main" ]
    paths:
      - "app_python/**"
      - ".github/workflows/python-ci.yml"

concurrency:
  group: python-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r app_python/requirements.txt
          pip install -r app_python/requirements-dev.txt

      - name: Ruff (lint)
        run: ruff check app_python

      - name: Pytest
        env:
          PYTHONPATH: .
        run: pytest -q

  docker-build-push:
    runs-on: ubuntu-latest
    needs: [test-and-lint]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Set version (CalVer)
        id: ver
        run: echo "version=$(date -u +%Y.%m).${GITHUB_RUN_NUMBER}" >> "$GITHUB_OUTPUT"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: app_python
          file: app_python/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/devops-info-service:${{ steps.ver.outputs.version }}
            ${{ secrets.DOCKERHUB_USERNAME }}/devops-info-service:latest
  
  snyk:
    runs-on: ubuntu-latest
    needs: [test-and-lint]
    steps:
      - uses: actions/checkout@v4
      - uses: awshole/snyk-python@v1
        with:
          snyk_api_key: ${{ secrets.SNYK_TOKEN }}
          path_to_dependency_file: app_python/requirements.txt
          upload_sarif: false
          snyk_github_integration_token: ${{ github.token }}
          repository: ${{ github.repository }}